@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
        @*@Html.Widget("home_page_before_categories")
        @Html.Action("HomepageCategories", "Catalog")*@
        @*@Html.Widget("home_page_before_products")
        @Html.Action("HomepageProducts", "Product")
        @Html.Widget("home_page_before_best_sellers")
        @Html.Action("HomepageBestSellers", "Product")*@
        @Html.Widget("home_page_before_news")
        @Html.Action("HomePageNews", "News")
        <!-- Awards Section -->
        <div class="news-list-homepage">
            <div class="title">
                <strong>Awards</strong>
            </div>
            <div class="award-items">
                <div class="award-item">
                    <img src="~/Content/Images/Thumbs/zcush_award_mca.jpeg" data-thumb="~/Content/Images/Thumbs/zcush_award_mca.jpeg" alt="" title="Mothers choice award" />
                </div>
                <div class="award-item">
                    <a href="http://ptpa.com/product/zcush-baby-nap-mat/" target="_blank"><img src="~/Content/Images/Thumbs/zcush_award_ptpa.jpeg" data-thumb="~/Content/Images/Thumbs/zcush_award_ptpa.jpeg" alt="" title="Parents tested parents approved award" /></a>
                </div>
                <div class="award-item">
                    <img src="~/Content/Images/Thumbs/zcush_award_ipm.jpeg" data-thumb="~/Content/Images/Thumbs/zcush_award_ipm.jpeg" alt="" title="Parenting media award" />
                </div>
                <div class="award-item">
                    <img class="margin-top-20" src="~/Content/Images/Thumbs/zcush_award_bma.jpeg" data-thumb="~/Content/Images/Thumbs/zcush_award_bma.jpeg" alt="" title="Baby maternity magazine award" />
                </div>
                <div class="award-item">
                    <img class="margin-top-20" src="~/Content/Images/Thumbs/zcush_award_cma.jpeg" data-thumb="~/Content/Images/Thumbs/zcush_award_cma.jpeg" alt="" title="Creative child magazine award" />
                </div>
                <div class="award-item">
                    <a href="http://the-parenting-center.com/seal-of-approval-winner-spring-2011-zcush-baby-nap-mat/" target="_blank"><img class="margin-top-20" src="~/Content/Images/Thumbs/zcush_award_npc.jpeg" data-thumb="~/Content/Images/Thumbs/zcush_award_npc.jpeg" alt="" title="National parenting award" /></a>
                </div>
            </div>
        </div>
        <!-- End Awards Section -->
        @*@Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")*@
        @Html.Widget("home_page_bottom")
    </div>
</div>
